@media (min-width: 768px) {

    .nav-sec1 {
        background-color: #209159;
        flex: 0 0 60%;
        height: 8vh;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        padding: 2px;

    }

    .nav-sec2 {
        display: flex;
        background-color: #006f3d;
        flex: 0 0 15%;
        height: 8vh;

        justify-content: center;
        color: white;
        padding: 2px;
        align-items: center;

    }

    .nav-sec3 {
        display: flex;
        background-color: #00522d;
        flex: 0 0 25%;
        height: 8vh;

        color: white;
        padding: 2px;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .nav-main-custom {

        display: flex;
        align-items: end;
        flex-direction: row;
        align-self: flex-end;
        display: block;
        width: 100%;
    }

    .top-main-box a {
        text-decoration: none;
        color: white;
    }

    .top-main-box a:hover {
        text-decoration: none;
        color: #E2FF00;
    }

    .top-second-box {
        height: fit-content;
        width: 70vw;
        background-color: white;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .top-main-box {
        height: fit-content;
        background-color: white;
        display: flex;
        justify-content: center;

        z-index: 999;
        left: 0;
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }


    header {
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 1000;
        transition: top 0.3s;
    }

    header div ul nav {
        transition: 0.6s;
    }
      
    header .sticky{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }


    .top-second-spans {
        height: 25vh;
        background-color: aqua;
    }

    .mobile-nav-menu {
        display: none;
    }

    .top-logo-cmps {
        height: 125px;
        margin-top: 0%;
        padding: 20px;
        padding-left: 0px;

    }

    .middle-box-in-second {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    .opening-hours {
        display: flex;
        align-items: center;
        font-family: Arial, sans-serif;
    }

    .green-square {
        width: 30px;
        height: 30px;
        background-color: #006f3d;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    .green-square i {
        color: white;
        font-size: 20px;
    }

    .opening-hours-text {
        display: flex;
        flex-direction: column;

    }

    .green-text {
        color: #006f3d;
        font-weight: bold;
    }

    .grey-text {
        color: #888;
        font-size: 14px;
    }

    
    .header-compass {
        height: 3vh;
        background-color: #006f3d;
        display: flex;
        flex-direction: row;
    }

    .header-child {
        width: 50vw;
        background: linear-gradient(-20deg, #00522d 50%, #209159 50%);
    }

    .header-one {
        border-right: 1px solid white;
    }


}

.green-icon-inside-custom {
    width: 16px;
}



/* Media query for mobile devices */
@media (max-width: 768px) {

    .nav-main-custom,
    .nav-sec1,
    .nav-sec2,
    .nav-sec3,
    .middle-box-in-second {
        display: none;
    }

    .mobile-nav-menu {
        display: block;
        position: fixed;
        background-color: #00522d;
        height: 100px;
        z-index: 9999;
        width: 100%;
        border-bottom: 1px solid #209159;
    }

    .top-logo-mob-view {
        height: 60px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .menu-icon {
        margin-top: 30px;
        margin-right: 20px;
    }

    /* RIGHT MENU MODAL CSS BEGIN */
    .hamburger {
        padding: 8px 5px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger-box {
        width: 30px;
        height: 24px;
        display: inline-block;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 30px;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--stand .hamburger-inner {
        transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
    }

    .hamburger--stand .hamburger-inner::before {
        transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--stand .hamburger-inner::after {
        transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--stand.is-active .hamburger-inner {
        transform: rotate(90deg);
        background-color: transparent;
        transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
    }

    .hamburger--stand.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--stand.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    }


    .left .menu-icon,
    .right .menu-icon {
        position: absolute;
        left: 300px;
        top: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        z-index: 2900;
        display: inline-block;
        overflow: visible;
        padding: 5px;
    }



    .right .menu-icon {
        position: absolute;
        right: 300px;
        left: auto;
    }

    #mobile-menu-container ul {
        padding-left: 0;
        width: 100%;
        margin: 0;
        display: block;
    }

    #mobile-menu-container.left,
    #mobile-menu-container.right {
        min-height: 100%;
        width: 300px;
        color: white;
        position: fixed;
        background: transparent;
        height: 100%;
        left: -300px;
        z-index: 3001;
        max-width: 100%;
        top: 0;
    }

    #mobile-menu-container.right {
        right: -300px;
        left: auto;
    }

    .menu-item.active:before {
        content: '';
        height: 20px;
        width: 20px;
        background: white;
        display: block;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(45deg);
    }

    .right .menu-item.active:before {
        left: auto;
        right: -10px;
    }

    .menu {
        width: 300px;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        z-index: 3001;
        padding-top: 50px;
    }

    .menu,
    .menu-icon {
        background: #00522d;
        color: white;
    }

    #mobile-menu-container ul li {
        position: relative;
        width: 100%;
    }

    .menu::-webkit-scrollbar {
        width: 10px;
    }

    .menu::-webkit-scrollbar {
        background: transparent;
    }

    .menu::-webkit-scrollbar-thumb {
        background: #006f3d !important;
    }

    #shadow-glass {
        position: fixed;
        z-index: 2900;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: none;
        top: 0;
        left: 0;
    }

    .menu-item {
        font-size: 1.4em;
        line-height: 1.5em;
        color: white;
        display: block;
        padding-left: 1.3em;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
    }

    #mobile-menu-container.right .menu-item {
        padding-left: 0;
        padding-right: 1.3em;
        text-align: right;
    }

    .menu-item:link {
        text-decoration: none;
    }

    .menu-item:visited {
        text-decoration: none;
    }

    .menu-item:hover {
        text-decoration: none;
        color: #E2FF00;
    }

    .menu-item:active {
        text-decoration: none;
    }

    .menu-item:focus {
        text-decoration: none;
        color: white;
        outline: none;
        border: none;
    }

    .menu-item.active {
        text-decoration: none;
        color: #E2FF00;
    }

    .logo-mobview {
        height: 120px;
    }

    .custom-mob-logo {
        margin-right: 40px;
        margin-bottom: 40px;
    }

}